<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harik.lenovo2017.activits">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/common_full_open_on_phone"
        android:label="APP"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
            </intent-filter>
        </activity>
        <activity android:name=".ListeViewPersonnaliee" />
        <activity android:name=".ServiceGpsWebServiceRest" />

        <service
            android:name=".HarikIntentService"
            android:exported="false" />

        <activity android:name="harik.exo.test.ListViewIntentImplicite" />
        <activity android:name="harik.exo.test.ActivityFilter">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".IntentServiceRestful"
            android:exported="false" />

        <activity android:name=".AppCesa" />
        <activity android:name="harik.exo.test.FilterActivity2">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name="harik.exo.test.Web" />
        <activity android:name=".curd" />
        <activity android:name="com.master.Calcul" />
        <activity android:name="harik.exo.test.BroadCastActivity" />
        <activity android:name="com.master.ActIntentExplicite" />
        <activity android:name="com.harik.ces.cesaWeb" />
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".WebViewHarik" />
        <activity android:name="com.com.ifiag.IMC"></activity>
        <activity android:name="com.master.ListViewSimple">

        </activity>
        <activity android:name="com.harik.ces.Gps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>